*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    /* --titulos: 'Sacramento', cursive; */
    --titulos: 'Alex Brush', cursive;
    --textos: 'Overlock', cursive;
    --cor-rosa: rgb(246, 108, 198);
}

body{
    width: 100%;
    height: auto;
    border: 4px solid black;
    border-radius: 0 0 10px 10px;
}